.quick_shots {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;
	margin: 1rem 0rem;
}

.box {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	text-align: center;
	line-height: 0.9rem;
	font-size: 0.85rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.3s;
}

body.active-modal {
	overflow-y: hidden;
}

.modal_content {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.4;
	background: #f1f1f1;
	padding: 2rem;
	border-radius: 3px;
	width: 50%;
	transition: 3s;
	/* border-radius: 1rem; */
}

.close_modal {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 7px;
	border: none;
}
